:root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body{
  margin-top: 50px;
}

h1{
  color:#819A91;
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 50px;
}

h2{
  color:#819A91;
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 40px;
}

h3{
  color:#819A91;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 0;
  margin-top: 0;
}

.hero-section{
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}

.hero-text{
  width:400px;
}

.hero-image img{  
  object-fit: cover; 
  width: 200px;        
  height: 200px;   
  border-radius: 50%; 
  border: 2px solid #819A91;
}

.skills-section{
  background-color: rgba(238, 239, 224, 0.6);
  width: 100%;
}

.skills-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  padding: 20px 35px;
  border-left: 2px solid #819A91;
  border-right: 2px solid #819A91;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.project-section h2{
  margin-top: 100px;
  text-align: center;
}

.project-container{
  display: flex;
  overflow-x: auto;
  gap: 20px;
  scrollbar-width: none;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
}

.freelance-project-container{
  display: flex;
  overflow-x: auto;
  scrollbar-width: none;
  gap: 20px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
}

.projectcard{
  display:flex;
  flex-direction: column;
  width: 270px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  gap:10px;
  border-radius: 10px;
  /*align-items: center; */
  flex-shrink: 0;
}

.projectcard h3{
  padding: 0px 10px;
}
.projectcard p{
  min-height: 70px;
  margin-top: 0px;
  padding: 0px 10px;
}

.projectcard img{
  width: 80%;
  height: 220px;
  object-fit: cover;
  padding-top: 25px;
}

.projectcard img{
  display: block;
  margin: 0 auto;
}

.tag-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  height: 45px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.tag{
  display: flex;
  justify-content: center;
  align-items: center;
  color:#D1d8BE;
  border: 1px solid #819A91;
  border-radius: 8px;
  font-size: 12px;
  padding: 0px 5px;
  text-align: center;
  height: 25px;
}

.button-container{
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.link-button{
  background-color: #EEEFE0;
  border: 1px solid #819A91;
  margin-right: 8px;
  border-radius: 8px;
  padding: 5px 20px;
  color:#819A91;
  font-size: 12px;
  width: 100px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.link-button:hover{
  opacity: 0.7;
  transform: scale(1.05);
}

.contact-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 80px;
  padding-bottom: 50px;
  background-color: rgba(238, 239, 224, 0.6);
}

.contact-text{
  display: flex;
  flex-direction: column;
}

.contact-text p{
  margin:0;
}

.contact-image img{
  width: 180px;
  height: 180px;
  margin-top: 50px;
}


@media(min-width:600px){

  .hero-image img{
    width: 350px;        
    height: 350px; 
  }

  .project-container{
    gap: 30px;
  }
  .projectcard{
    width: 330px;  
  }

  .contact-container{
    flex-direction: row;
    gap: 50px;
    justify-content: center;
  }

}

@media(min-width:730px){

  .freelance-project-container{
    justify-content: center;
  }

}
@media(min-width:1025px){
  .project-container{
    margin-top: 100px;
  }

  .project-section h2{
    margin-top: 100px;
  }
}